// mmltrw32.rc
#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Main Dialog (English default UI)

IDD_MAIN_DIALOG DIALOG 0, 0, 120, 40
STYLE DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
MENU IDR_MAINMENU
CAPTION "MML Transposer Win32"
//FONT 14, "System"
BEGIN
        // --- Filename display ---
        LTEXT "No file selected", IDC_STATIC_FILENAME,
                2, 1, 116, 7, SS_LEFTNOWORDWRAP | SS_NOTIFY

        // --- Shift slider ---
        CONTROL "", IDC_SLIDER_SHIFT, "msctls_trackbar32",
                TBS_AUTOTICKS | TBS_BOTTOM | WS_TABSTOP,
                0, 9, 120, 9

        // --- Key / Spin / Quick / Save / Auto ---
        LTEXT "Key:", IDC_STATIC_KEY, 2, 21, 15, 8, SS_NOTIFY

        EDITTEXT IDC_EDIT_SHIFT, 17, 20, 31, 10,
                ES_NUMBER | ES_READONLY | WS_TABSTOP

        CONTROL "", IDC_SPIN_SHIFT, "msctls_updown32",
                UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | WS_TABSTOP,
                0, 20, 10, 10

        PUSHBUTTON "Quick", IDC_BUTTON_SAVE_AUTO,
                43, 20, 24, 10

        PUSHBUTTON "Save", IDC_BUTTON_SAVE_AS,
                69, 20, 24, 10

        CONTROL "Auto", IDC_CHECK_AUTOSAVE, "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                95, 21, 24, 8

        // --- Options ---
        LTEXT "Opt:", IDC_STATIC_OPTION, 2, 32, 15, 8, SS_NOTIFY

        CONTROL "FMT", IDC_CHECK_FORMAT, "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                17, 32, 23, 8

        CONTROL "Rel", IDC_CHECK_REL, "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                43, 32, 23, 8

        CONTROL "Abs", IDC_CHECK_ABS, "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                69, 32, 23, 8

        CONTROL "D ch", IDC_CHECK_DSHIFT, "Button",
                BS_AUTOCHECKBOX | WS_TABSTOP,
                95, 32, 24, 8
END

/////////////////////////////////////////////////////////////////////////////
// Hidden Menu (shown only when Alt is pressed)
/////////////////////////////////////////////////////////////////////////////

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...", IDM_FILE_OPEN
        MENUITEM "E&xit",    IDM_FILE_EXIT
    END

    POPUP "&Language"
    BEGIN
        MENUITEM "&English",  IDM_LANG_EN
        MENUITEM "&Japanese", IDM_LANG_JP
    END
END
